.data-provider--main {
  margin-inline: 10px;

  .profile-data--sec {
    background-color: #f5f5f5;
    margin: 20px 0 30px 0;
    border-radius: 16px;
    padding: 16px 10px 10px 15px;

    .profile-data-left {
      margin-right: 11px;
    }

    .profile-data-right {
      flex: 1;
      text-align: left;

      h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 5px;
        color: #09090a;
      }

      p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        max-width: 950px;
        color: #000000;
      }
    }
  }

  .data-list--pagination {
    padding-block-end: 20px;

    .global--pagination {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.create-user--header {
  &.modal-header{
    padding: 10px 16px;
  .modal-title {
    font-size: 17px;
    line-height: 20px;
  }

  .btn-close {
    width: 8px;
    height: 8px;
    padding: 4px;
    margin-right: 1px;
  }
}
}

.marklab--switch{
  .form-check-input{
    cursor: pointer;
    &:focus{
       box-shadow: none;
       border-color: #704a95;
      //  --bs-form-switch-bg:url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23704A95'/%3e%3c/svg%3e);
      //  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23704A95'/%3e%3c/svg%3e")
    }
    &:checked{
        background-color: #704a95;
        border-color: #704a95;
    }
  }
}
.ml-auto {
  margin-left: auto;
}
.cross-button{
  img{
    width: 27px;
    height: 27px;
    filter: brightness(0) saturate(100%) invert(47%) sepia(7%) saturate(12%) hue-rotate(75deg) brightness(95%) contrast(89%);
  }
}

.email-left {
  flex: 1 0 15%;
}

.email-right {
  flex: 0 0 83%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.notification-desc {
  margin: 0;
  padding-right: 22px;
}

.email-right .marklab--switch {
  align-items: center;
  position: relative;
  top: -12px;
}

.create-invoice-modal{
  .modal-body{
    max-height: 800px;
    overflow-y: auto;
  }
}